@charset "UTF-8";
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Selector universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* bootstrap sobreescritos */
.navbar {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  align-items: center;
}

.btn {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

.form-label {
  font-size: 16px;
}

/* elementos genéricos */
.titulo {
  margin: 35px 35px 35px 0px;
}

.subtitulos {
  text-align: center;
  margin: 25px;
}

/* html */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  /*1rem=16px*/
  /*1rem=10px*/
}
html h1 {
  font-size: 4rem;
}
html h2 {
  font-size: 2.5rem;
}
html h3 {
  font-size: 2rem;
}
html p {
  font-size: 1.8rem;
}

/* header */
header {
  position: sticky;
  top: 0px;
}
header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
header .logo {
  margin-left: 10px;
  margin-right: 20px;
}
header .logo img {
  width: 80px;
}
header .iconos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* index */
.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: -10px 10px 8px rgba(0, 0, 0, 0.6);
  padding: 180px 0px;
}
.banner .tituloBanner {
  font-size: 4rem;
}
.banner .eslogamBanner {
  font-size: 2rem;
}

.presentacion-container {
  display: flex;
  justify-content: center;
  background-color: #F6F1F1;
}
.presentacion-container h2 {
  margin: 20px 0px;
}
.presentacion-container .presentacion {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.presentacion-container .presentacion .presentacion-item {
  width: 300px;
  height: 610px;
}
.presentacion-container .presentacion .presentacion-item img {
  width: 80%;
}

.productos-destacados-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 248, 248);
}
.productos-destacados-container .productos-destacados {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productos-destacados-container .productos-destacados .productos-destacados-item {
  width: 300px;
  height: 300px;
}
.productos-destacados-container .productos-destacados .productos-destacados-item img {
  width: 80%;
}
.productos-destacados-container button {
  margin: 20px;
}

.marcas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.marcas .marcas-item {
  width: 150px;
  margin: 30px;
}
.marcas .marcas-item img {
  width: 90%;
}

.productos-recomendados-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 248, 248);
}
.productos-recomendados-container .productos-recomendados {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productos-recomendados-container .productos-recomendados .productos-recomendados-item {
  width: 250px;
  height: 400px;
}
.productos-recomendados-container .productos-recomendados .productos-recomendados-item img {
  width: 80%;
}

.comentarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}
.comentarios-container .comentarios {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.comentarios-container .comentarios .comentarios-item {
  width: 250px;
  height: 300px;
}
.comentarios-container .comentarios .comentarios-item img {
  width: 90%;
}
.comentarios-container .comentarios .comentarios-item p {
  margin-top: 20px;
  margin-bottom: 15px;
}
.comentarios-container .comentarios .comentarios-item p .comentarios-item-cliente {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.donde-estamos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}
.donde-estamos-container .donde-estamos {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.donde-estamos-container .donde-estamos .donde-estamos-item {
  width: 50%;
  padding: 30px;
}
.donde-estamos-container .donde-estamos .donde-estamos-item p {
  text-align: justify;
}

/* productos */
.productos div {
  background-color: rgb(244, 248, 248);
  padding-bottom: 20px;
}
.productos img {
  width: 80%;
  margin-bottom: 20px;
}

/* contacto */
.imagenContacto {
  width: 100%;
  height: 190px;
  overflow: hidden;
}

.imagenIconoContacto {
  width: 30px;
}

.contacto-texto {
  width: 100%;
  padding: 30px;
}
.contacto-texto .contacto-contenedor {
  display: flex;
  align-items: center;
}
.contacto-texto .contacto-contenedor p {
  text-align: left;
  font-size: 1.5rem;
}
.contacto-texto .contacto-contenedor img {
  margin: 10px;
}

.form-control {
  font-size: 16px;
}

/* como llegar */
.como-llegar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.como-llegar-container .como-llegar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.como-llegar-container .como-llegar .como-llegar-mapa {
  width: 60%;
  height: 400px;
  padding: 30px;
}
.como-llegar-container .como-llegar .como-llegar-texto {
  width: 40%;
  padding: 30px;
}

/* quienes somos*/
.grid-container {
  display: grid;
  grid-template-areas: "img1 texto1 texto1" "img1 img2 img2" "texto2 img3 texto3";
  /* ancho de las columnas*/
  grid-template-columns: 25% 40% 25%;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 150px 300px 300px;
  justify-content: space-between;
  /* alineacion de grids */
  justify-items: center;
  align-items: center;
  /* espacio entre filas */
  row-gap: 30px;
  /* espacio entre columnas */
  column-gap: 10px;
  margin-bottom: 30px;
}
.grid-container img {
  max-width: 100%;
  height: 100%;
}

.grid-img-1 {
  grid-area: img1;
}

.grid-img-2 {
  grid-area: img2;
}

.grid-img-3 {
  grid-area: img3;
}

.grid-texto-1 {
  grid-area: texto1;
  text-align: justify;
}

.grid-texto-2 {
  grid-area: texto2;
  text-align: right;
}

.grid-texto-3 {
  grid-area: texto3;
  text-align: justify;
}

/* footer */
footer img {
  width: 30px;
  border-radius: 50%;
  border: 2px solid white;
}
footer p {
  font-size: 1.5rem;
}

.footer-container {
  background-color: black;
  color: grey;
}
.footer-container .footer-container-item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container .footer-container-item .footer-telefono {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-container .footer-container-item .footer-redes {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer-container .footer-container-copyright {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
}
.footer-container .footer-container-copyright-dev {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* mobile */
@media only screen and (max-width: 480px) {
  header {
    /* solo cambio la propiedad que quiero cambiar */
    flex-direction: column;
    align-items: center;
  }
  nav {
    width: 100%;
  }
  header ul {
    margin-left: 8px;
  }
  /* index */
  .presentacion-item {
    width: 100%;
  }
  .productos-destacados-item {
    width: 100%;
    height: 350px;
  }
  .productos-recomendados-item {
    width: 100%;
    height: 500px;
  }
  .comentarios-item {
    width: 100%;
  }
  /* donde estamos */
  .donde-estamos-container .donde-estamos {
    flex-direction: column;
  }
  .donde-estamos-container .donde-estamos .donde-estamos-item {
    width: 100%;
    padding: 5px 5px 10px;
  }
  .donde-estamos-container .donde-estamos .donde-estamos-mapa {
    height: 400px;
  }
  /* como llegar */
  .como-llegar-container .como-llegar {
    flex-direction: column;
  }
  .como-llegar-container .como-llegar .como-llegar-texto {
    width: 100%;
    padding: 5px 5px 10px;
  }
  .como-llegar-container .como-llegar .como-llegar-mapa {
    width: 100%;
    height: 400px;
  }
  .contacto-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* quienes somos */
  .grid-container {
    grid-template-areas: "img2" "texto1" "texto2" "img3" "texto3";
    grid-template-columns: 90%;
    grid-template-rows: 100px 150px repeat(3, 200px);
  }
  .grid-img-1 {
    display: none;
  }
  .grid-texto-2 {
    text-align: justify;
  }
  /*footer*/
  .footer-container .footer-container-item {
    flex-direction: column;
    align-items: center;
  }
  .footer-container .footer-container-copyright {
    align-items: center;
  }
  .footer-container .footer-container-copyright-dev {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
/* tablet */
@media only screen and (min-width: 481px) and (max-width: 992px) {
  /* donde estamos */
  .donde-estamos-container .donde-estamos {
    flex-direction: column;
  }
  .donde-estamos-container .donde-estamos .donde-estamos-item {
    width: 100%;
    padding: 25px;
  }
  .donde-estamos-container .donde-estamos .donde-estamos-mapa {
    height: 400px;
  }
  /* como llegar */
  .como-llegar-container .como-llegar {
    flex-direction: column;
  }
  .como-llegar-container .como-llegar .como-llegar-texto {
    width: 100%;
    padding: 5px 5px 10px;
  }
  .como-llegar-container .como-llegar .como-llegar-mapa {
    width: 100%;
    height: 400px;
  }
  .contacto-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* quienes somos */
  .grid-container {
    grid-template-areas: "img2" "texto1" "texto2" "img3" "texto3";
    grid-template-columns: 90%;
    grid-template-rows: 100px 150px repeat(3, 200px);
  }
  .grid-img-1 {
    display: none;
  }
  .grid-texto-2 {
    text-align: justify;
  }
}

/*# sourceMappingURL=estilos.css.map */
